<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="container" style="position: absolute; margin-top: 80px">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a data-toggle="modal" data-target="#view_info">
                  <img
                    src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833"
                    alt="avatar">
                </a>
                <div class="chat-about decor-text-1">
                  <h6 class="m-b-0">Khánh</h6>
                  <small>Hoạt động 1 phút trước</small>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history">
            <ul class="m-b-0">
              <li class="clearfix decor-text-1">
                <div class="message other-message float-right" style="font-size: 15px"> Mặt hàng này còn không?
                </div>
              </li>
              <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time decor-text-1">10:12 AM, Hôm nay</span>
                </div>
                <img style="width: 45px; height: 45px; border-radius: 50%;margin-right: 10px"
                     src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833"
                     alt="avatar">
                <div class="message my-message decor-text-1" style="font-size: 15px">Còn bạn</div>
              </li>
              <li class="clearfix decor-text-1">
                <div class="message other-message float-right" style="font-size: 15px"> Bạn ở đâu?
                </div>
              </li>
              <li class="clearfix">
                <div class="message-data">
                  <span class="message-data-time decor-text-1">10:12 AM, Hôm nay</span>
                </div>
                <img style="width: 45px; height: 45px; border-radius: 50%;margin-right: 10px"
                     src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833"
                     alt="avatar">
                <div class="message my-message decor-text-1" style="font-size: 15px">Hà Đông</div>
              </li>
            </ul>
          </div>
          <div class="chat-message clearfix decor-text-1">
            <div class="input-group mb-0 d-flex align-items-center">
              <i class="bi bi-card-image" style="font-size: 20px;cursor: pointer;padding: 0 5px"></i>
              <i class="bi bi-emoji-smile p-3"  style="font-size: 20px;cursor: pointer"></i>
              <input type="text" class="form-control rounded-0" style="outline: none" placeholder="Aa">
              <i class="bi bi-send p-2 decor-text-1" style="font-size: 20px;cursor: pointer"></i>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
