<p-toast></p-toast>
<div class="container">
  <div style="font-size: 13px"  id="tab2" class="tab-pane active">
    <div class="decor-text" style="font-size: 20px; text-align: center; margin:30px 0;font-weight: bold">
      Danh sách yêu cầu rút tiền
    </div>
    <table class="table">
      <thead>
      <tr class="decor-text-0">
        <th scope="col">Hành động</th>
        <th scope="col">Thời gian rút</th>
        <th scope="col">Số tiền</th>
        <th scope="col">Địa chỉ rút</th>
        <th scope="col">Trạng thái</th>
      </tr>
      </thead>
      <tbody>
      <tr style="cursor: pointer" *ngFor="let i of dataShow;let j = index"
          [class.row-selected]="this.selectedRows.indexOf(i) !== -1"
          class="decor-text-1"
          (click)="selectRow(i, $event, syslogs)">
        <td>Rút tiền</td>
        <td>{{i.createdAt  | date: 'dd/MM/yyyy '}}</td>
        <td>{{userService.formatMoneyVND(i.amount)}}</td>
        <td>{{i.bankCode}} - {{i.accountNumber}}</td>
        <td>
          <button *ngIf="i.status == 'PENDING'" class="btn rounded-0" style="font-size: 9px;background-color: #d9b026; padding:4px;color:white">Đang xử lý</button>
          <p style="color:#de1313" *ngIf="i.status == 'REJECTED'" >Bị từ chối</p>
          <p style="color:#3bad15" *ngIf="i.status == 'APPROVED'" >Đã duyệt</p>

        </td>
      </tr>
      </tbody>
    </table>
    <div class="footer-dynamic-report">
      <div style="padding-right: 16px;">
        <div class="row" style="height: 20px;width: 100%">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-9 col-form-label" style="font-size: 10px"
              ><span></span>Số lượng: {{ syslogs.length }}
              </label>

            </div>

          </div>
          <!--        <div class="col-md-6">-->
          <!--          <div class="row justify-content-end pagination-container">-->
          <!--            <ngb-pagination-->
          <!--              class="ngb-pagination"-->
          <!--              [size]="'sm'"-->
          <!--              [collectionSize]="syslogs.length"-->
          <!--              [(page)]="page"-->
          <!--              [pageSize]="itemsPerPage"-->
          <!--              [maxSize]="5"-->
          <!--              [rotate]="true"-->
          <!--              [boundaryLinks]="true"-->
          <!--              (pageChange)="loadPage(page)"-->
          <!--            ></ngb-pagination>-->
          <!--          </div>-->
          <!--        </div>-->
        </div>
      </div>
    </div>
  </div>

</div>
