.location-selector {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

label {
  margin-top: 10px;
}

select {
  padding: 5px;
  margin-top: 5px;
}
.input-container {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #000000;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -20px;
  font-size: 12px;
  color: #000000;
}

.input-field:focus + .input-label + .input-highlight {
  width: 100%;
}
.row-selected{
  background: rgba(108, 108, 108, 0.22);
}
input::placeholder{
  color: gray
}
input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.custom-context-menu {
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.custom-context-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px 0;
}

.custom-context-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.custom-context-menu ul li:hover {
  background-color: #eee;
}
