<p-toast></p-toast>
<div class="container pas" *ngIf="!linkedBank">
  <div class="container">

    <div class="row decor-text-1">
      <p class="decor-text" style="font-size: 20px; font-weight: bold;margin-left: 5px">Số tài khoản liên kết</p>
      <hr class="faded-line">
      <div class="input-container">
        <input placeholder="Số tài khoản" class="input-field" type="text" name="accountNumber" [(ngModel)]="bank.accountNumber">
        <label for="input-field" class="input-label">Số tài khoản</label>
        <span class="input-highlight"></span>
      </div>


      <p class="decor-text" style="font-size: 20px; font-weight: bold;margin-left: 5px">Danh sách ngân hàng</p>
      <hr class="faded-line">
      <div class="col-xl-6" *ngFor="let bank of banks?.items"
           >
        <div [class.row-selected]="isSelected(bank)"
        (click)="selectRow(bank, $event)" class="card mb-3 card-body rounded-0">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto">
              <img src="{{bank.bankAvt}}" class="width-90 rounded-3" alt="">
            </div>
            <div class="col">
              <div class="overflow-hidden flex-nowrap">
                <h6 class="mb-1">
                  <p class="text-reset">{{bank.bankCode}} - {{bank.bankName}}</p>
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
            <button class="btn btn-secondary rounded-0" (click)="linkBankAccount()">Liên kết</button>
      </div>
    </div>
  </div>
</div>
<div class="container pas decor-text" *ngIf="linkedBank">
  Bạn đã liên kết ngân hàng
</div>
