<!-- Login 11 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8 d-flex justify-content-center align-items-center background-secondary" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <div class="row gy-5 justify-content-center">
          <div class="col-12 col-lg-5 background-white p-3">
            <form (ngSubmit)="login()">
              <div class="row gy-3 overflow-hidden">

                <div class="col-12 decor-text-1">
                  <div class="form-floating mb-2">
                    <input type="email" class="form-control border-0 border-bottom rounded-0" name="email" id="email" placeholder="name@example.com" [(ngModel)]="user.email">
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>
                <div class="col-12 decor-text-1">
                  <div class="form-floating mb-2">
                    <input type="password" class="form-control border-0 border-bottom rounded-0" name="password" id="password" [(ngModel)]="user.password" placeholder="Password">
                    <label for="password" class="form-label">Mật khẩu</label>
                  </div>
                </div>
                <div class="col-12 m-0 decor-text-1 text-blue">
                  <div class="row justify-content-between">
                    <div class="col-6">
                      <div class="form-check">
                        <input style="border: 1px solid #b47474" class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                        <label class="form-check-label" for="remember_me">
                          Nhớ mật khẩu
                        </label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="text-end">
                        <a href="#!" class="text-blue text-decoration-none">Quên mật khẩu</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 m-0 decor-text-1 text-blue" style="cursor: pointer" routerLink="/signup" routerLinkActive = "active">
                  Đăng ký
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-secondary btn-lg rounded-0 decor-text-0" type="submit">Đăng nhập</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
