<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container" style="position: absolute; margin-top: 80px">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">

          <ul class="list-unstyled chat-list mt-2 mb-0 decor-text-1">
            <li class="clearfix" routerLink="1" routerLinkActive = "active">
              <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833" alt="avatar">
              <div class="about">
                <div class="name">Khánh</div>
                <div class="status"> <i class="fa fa-circle offline"></i>Hoạt động 1 phút trước </div>
              </div>
            </li>
            <li class="clearfix" routerLink="2" routerLinkActive = "active">
              <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833" alt="avatar">
              <div class="about">
                <div class="name">Khánh</div>
                <div class="status"> <i class="fa fa-circle offline"></i>Hoạt động 1 phút trước </div>
              </div>
            </li>
            <li class="clearfix" routerLink="3" routerLinkActive = "active">
              <img src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=RsRVN3gCtoIQ7kNvgG9fRT_&_nc_ht=scontent.fhan14-2.fna&oh=00_AYBhlz4CN1B_qMJBj0OHjqWKgOLoEvl_G-StHkeW8dnX8Q&oe=66E2E833" alt="avatar">
              <div class="about">
                <div class="name">Khánh</div>
                <div class="status"> <i class="fa fa-circle offline"></i>Hoạt động 1 phút trước </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
