

  <div id="myCarousel" class="carousel slide background-secondary w-100" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="https://www.ssi-schaefer.com/resource/blob/1444662/b5bdadcababc0904a574ea9d675870c3/e-commerce-hero-dam-image-en-31561--data.jpg" alt="First slide">
        <div class="container">
<!--          <div class="carousel-caption text-left">-->
<!--            <h1>Example headline.</h1>-->
<!--            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
<!--            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
<!--          </div>-->
        </div>
      </div>
    </div>

  <div class="container marketing my-4 background-secondary">
    <div class="container decor-text">
      <div class="row g-4">
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-truck" style="font-size: 2rem;"></i>
            <p class="mt-2">Giao hàng trên toàn thế giới</p>
          </div>
        </div>
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-shield-check" style="font-size: 2rem;"></i>
            <p class="mt-2">Thanh toán an toàn</p>
          </div>
        </div>
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-arrow-clockwise" style="font-size: 2rem;"></i>
            <p class="mt-2">Trả lại đơn giản</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
