<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="content" class="content content-full-width">
        <!-- begin profile -->
        <div class="profile">
          <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content d-flex align-content-center align-items-center">
              <div class="profile-header-img">
                <img
                  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=sqvr_3lGhUYQ7kNvgG-n-j3&_nc_ht=scontent.fhan2-4.fna&_nc_gid=ARUnIGg18PX29mgf98A3VQF&oh=00_AYCwyX9nr0P9zxWDWjdXEGmLtEilC7FyjCSyWJU0WU6W8w&oe=66DE4AF3"
                  alt="">
              </div>

              <div class="profile-header-info decor-text-1 m-lg-4" style="margin-left: 20px">
                <h4 class="m-t-0 m-b-1">Duy Khanh</h4>
                <p class=" text-secondary">Người mua</p>
                <i class="bi bi-gear text-blue" style="font-size: 20px"></i>

              </div>
              <!-- END profile-header-info -->
            </div>
            <ul class="profile-header-tab nav nav-tabs mt-2 decor-text" style="cursor: pointer">
              <li class="nav-item" >
                <a #text (click)="directPage(text.innerText)" [class]="tabPost ? 'active' : ''" class="nav-link_">
                Bài đăng
                </a>
              </li>
              <li class="nav-item" >
                <a #text1 (click)="directPage(text1.innerText)" [class]="tabInfor ? 'active' : ''" class="nav-link_">
                  Thông tin cá nhân
                </a></li>
              <li class="nav-item" >
                <a #text2 (click)="directPage(text2.innerText)" [class]="tabImage ? 'active' : ''" class="nav-link_">
                  Hình Ảnh/Video
                </a></li>
              <li class="nav-item" >
                <a #text3 (click)="directPage(text3.innerText)" [class]="tabHistory ? 'active' : ''" class="nav-link_">
                  Hoạt động
                </a></li>
            </ul>
          </div>

        </div>
        <div class="profile-content decor-text-1">
          <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="profile-post1">
              <i *ngIf="!openPost" (click)="openPost = true" class="bi bi-upload" title="Đăng bài"></i>
              <ul class="timeline1">
                <li>
                  <div class="timeline-body" *ngIf="openPost">
                    <div class="timeline-header">
                      <span class="userimage"><img
                        src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=sqvr_3lGhUYQ7kNvgG-n-j3&_nc_ht=scontent.fhan2-4.fna&_nc_gid=ARUnIGg18PX29mgf98A3VQF&oh=00_AYCwyX9nr0P9zxWDWjdXEGmLtEilC7FyjCSyWJU0WU6W8w&oe=66DE4AF3"
                        alt=""></span>
                      <span class="username"><a>Duy Khánh</a> <small></small></span>
                      <i class="bi bi-x" (click)="openPost = false" style="position: absolute;right: 30px; font-size: 20px"></i>
                    </div>
                    <div>
                      <textarea  (input)="onInput($event)"
                                 placeholder="Nhập nội dung..."
                                 [(ngModel)]="textContent" class="auto-resize-textarea text-secondary">
                      </textarea>
                    </div>
                    <input type="file" id="file1" hidden="" (change)="onFileSelected($event)" multiple>
                    <label for="file1"><i class="bi bi-image-fill"></i></label>
                    <div class="image-grid">
                      <div class="image-item" *ngFor="let image of images">
                        <img [src]="image.url" alt="User uploaded image">
                      </div>
                    </div>
                    <div class="timeline-comment-box">
                      <div class="input">
                        <form>
                          <div class="input-group">
                            <button class="btn btn-secondary f-s-12 rounded-0 w-100" type="button" [disabled]="!textContent" (click)="sendText()">Gửi</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="tabPost" class="profile-content decor-text-1">
          <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="profile-post">
              <ul class="timeline">
                <li>
                  <div class="timeline-time">
                    <span class="date">Hôm nay</span>
                    <span class="time">04:20</span>
                  </div>
                  <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                  </div>
                  <div class="timeline-body">
                    <div class="timeline-header">
                      <span class="userimage"><img
                        src="https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-1/387179218_1372127113699239_4722949875462203661_n.jpg?stp=cp6_dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeEMHzZB9xdzLvgDtt8KlPzBCLmlQ6JZlD4IuaVDolmUPmXPvytvZsC_HWopgnDUpV7nNW21HjjJk9MvkKusJzNc&_nc_ohc=sqvr_3lGhUYQ7kNvgG-n-j3&_nc_ht=scontent.fhan2-4.fna&_nc_gid=ARUnIGg18PX29mgf98A3VQF&oh=00_AYCwyX9nr0P9zxWDWjdXEGmLtEilC7FyjCSyWJU0WU6W8w&oe=66DE4AF3"
                        alt=""></span>
                      <span class="username"><a>Duy Khánh</a> <small></small></span>
                      <span class="pull-right text-muted">18 Views</span>
                    </div>
                    <div class="timeline-content">
                      <p>
                        Mình đang cần bán sản phẩm này
                      </p>
                    </div>
                    <input type="file" id="file" hidden="" (change)="onFileSelected($event)" multiple>
                    <label for="file"><i class="bi bi-image-fill"></i></label>
                    <div class="image-grid">
                      <div class="image-item" *ngFor="let image of images">
                        <img [src]="image.url" alt="User uploaded image">
                      </div>
                    </div>

                    <div class="timeline-likes">
                      <div class="stats-right">
                        <span class="stats-text">25 Chia sẻ</span>
                        <span class="stats-text">21 Bình luận</span>
                      </div>
                      <div class="stats">
                                    <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                    <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                    </span>
                        <span class="fa-stack fa-fw stats-icon">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                    </span>
                        <span class="stats-total">4.3k</span>
                      </div>
                    </div>
                    <!--                    <div class="timeline-footer">-->
                    <!--                      <a class="m-r-15"><i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i></a>-->
                    <!--                      <a class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i></a>-->
                    <!--                      <a class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i></a>-->
                    <!--                    </div>-->
                    <div class="timeline-comment-box">
                      <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                      <div class="input">
                        <form action="">
                          <div class="input-group">
                            <input type="text" class="form-control rounded-corner" style="font-size: 12px"
                                   placeholder="Bình luận gì đó">
                            <span class="input-group-btn p-l-10">
                                          <button class="btn btn-secondary f-s-12 rounded-0" type="button">Gửi</button>
                                          </span>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
