<div id="myCarousel" class="carousel slide background-secondary w-100" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1 class="text-banner">
        Giao dịch một chạm
      </h1>
      <p class="decor-text-0 m-lg-3">
        An toàn - Tiện ích - Nhanh chóng
      </p>
    </div>
    <div class="carousel-item active">
      <img src="https://img.freepik.com/premium-vector/mobile-shopping-hand-with-phone-shopping-basket-screen-flat-design-isolated-white-background_647322-254.jpg"/>
    </div>

    <button class="button1" style="position: absolute;bottom: 20%;left: 15%"><i class="bi bi-cart3"></i> Mua ngay</button>
  </div>

  <div class="container my-4">
    <div class="container decor-text">
      <div class="row">
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-truck" style="font-size: 2rem;"></i>
            <p class="mt-2">Vận chyển nhanh chóng</p>
          </div>
        </div>
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-shield-check" style="font-size: 2rem;"></i>
            <p class="mt-2">Thanh toán an toàn</p>
          </div>
        </div>
        <div class="col text-center">
          <div class="p-3 border bg-light">
            <i class="bi bi-arrow-clockwise" style="font-size: 2rem;"></i>
            <p class="mt-2">Trả lại đơn giản</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
