<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <!-- User info -->
      <div class="panel panel-default">

        <div class="panel-body">
          <table class="table profile__table decor-text-1 mt-2" style="font-size: 15px">
            <tbody>
            <tr>
              <th class="decor-text"><strong><i class="bi bi-envelope"></i></strong></th>
              <td>{{userDetail?.email}}</td>
            </tr>
            <tr>
              <th class="decor-text"><strong><i class="bi bi-telephone"></i></strong></th>
              <td>{{userDetail?.phone}}</td>
            </tr>
            <tr>
              <th class="decor-text"><strong><i class="bi bi-gender-ambiguous"></i></strong></th>
              <td>{{userDetail?.gender}}</td>
            </tr>
            <tr style="cursor: pointer">
              <th class="decor-text"><strong><i class="bi bi-geo"></i></strong></th>
              <td *ngIf="userDetail.addresses.length != 0">{{userDetail?.addresses}}</td>
              <td *ngIf="userDetail.addresses.length == 0">
                <i class="bi bi-plus-circle text-info decor-text-1">Thêm địa chỉ</i>
              </td>
            </tr>
            <tr>
              <th class="decor-text"><strong><i class="bi bi-balloon-heart"></i></strong></th>
              <td>{{userDetail?.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
            </tr>
            <tr style="cursor: pointer">
              <th class="decor-text"><strong><i class="bi bi-piggy-bank"></i></strong></th>
              <td *ngIf="userDetail.bankResponses.length != 0">{{userDetail?.bankResponses}}</td>
              <td *ngIf="userDetail.bankResponses.length == 0">
                <a class="nav-link"  (click)="navigateBank(userDetail.userId)">
                  <i class="bi bi-plus-circle text-info decor-text-1" > Liên kết ngay</i>
                </a>

              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title decor-text mt-4">Người vừa ghé trang</h4>
        </div>
        <div class="panel-body decor-text-1" >
          <div class="profile__comments">
            <div class="profile-comments__item">
              <div class="profile-comments__avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
              </div>
              <div class="profile-comments__body">
                <h5 style="font-size: 15px" class="profile-comments__sender">
                  Mạnh A <small>2 giờ trước</small>
                </h5>
              </div>

            </div>
            <div class="profile-comments__item">
              <div class="profile-comments__avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="...">
              </div>
              <div class="profile-comments__body">
                <h5 style="font-size: 15px" class="profile-comments__sender">
                  Mạnh E <small>2 giờ trước</small>
                </h5>
              </div>
            </div>
            <div class="profile-comments__item">
              <div class="profile-comments__avatar">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
              </div>
              <div class="profile-comments__body">
                <h5 style="font-size: 15px" class="profile-comments__sender">
                  Em Hảo Trader <small>2 giờ trước</small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
