<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
  <ul class="row portfolio lightbox list-unstyled mb-0 shuffle" id="grid" s>
    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/87CEFA/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title decor-text-1">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">Xem bài viết</h5>
                    <p class="project-skill">Trạng thái : Đã bán</p>
                  </div>
                </div>
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="STATIONERY"><i class="fa fa-th"></i></a>
                </div>
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/B0C4DE/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">FOIL LOGO</h5>
                    <p class="project-skill">Design, Branding</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="FOIL LOGO"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/FFE4B5/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">IDEA BULB</h5>
                    <p class="project-skill">Design, Illustration</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="IDEA BULB"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/AFEEEE/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">MOUNTAINS</h5>
                    <p class="project-skill">Design, Illustration</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="MOUNTAINS"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/DDA0DD/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">HELLO WORLD</h5>
                    <p class="project-skill">Branding</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="HELLO WORLD"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/4682B4/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">CAMERON</h5>
                    <p class="project-skill">Design</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="CAMERON"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/F5F5F5/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">WHALE</h5>
                    <p class="project-skill">Design, Illustration</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="WHALE"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/FFF5EE/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">BRANDING</h5>
                    <p class="project-skill">Branding</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="BRANDING"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/B0E0E6/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">HYMALAYAS</h5>
                    <p class="project-skill">Design, Illustration</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="HYMALAYAS"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/FFEFD5/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">CUPCAKE</h5>
                    <p class="project-skill">Design, Illustration</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="CUPCAKE"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/EEE8AA/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">BRANDMINUTE</h5>
                    <p class="project-skill">Branding</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="BRANDMINUTE"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->

    <!-- project -->
    <li class="col-md-6 col-lg-3 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="https://www.bootdey.com/image/350x180/48D1CC/000000" alt="">
              <div class="overlay">
                <div class="hovereffect-title">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">PREMIUM LOGO</h5>
                    <p class="project-skill">Design, Branding</p>
                  </div>
                  <!-- / project-title-wrapper -->
                </div>
                <!-- / hover-effect-title -->
                <div class="hovereffect-title project-icons">
                  <a href="#"><i class="fa fa-eye"></i></a>
                  <a href="#" class="image-lightbox" title="PREMIUM LOGO"><i class="fa fa-th"></i></a>
                </div>
                <!-- / project-icons -->
              </div>
              <!-- / overlay -->
            </div>
            <!-- / hovereffect -->
          </figure>
          <!-- / portfolio-item -->
        </div>
        <!-- / project -->
      </div>
      <!-- / card -->
    </li>
    <!-- / project -->
  </ul>
  <!-- / portfolio -->
</div>
