<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

<div class="container">
  <ul class="row portfolio lightbox list-unstyled mb-0 shuffle" id="grid" s>
    <!-- project -->
    <li *ngFor="let media of photos" class="col-md-4 col-lg-2 project shuffle-item filtered" >
      <div class="card mb-0">
        <div class="project m-0">
          <figure class="portfolio-item">
            <div class="hovereffect">
              <img class="img-responsive" src="{{media?.url}}" alt="">
              <div class="overlay">
                <div class="hovereffect-title decor-text-1">
                  <div class="project-title-wrapper">
                    <h5 class="project-title fs-18">Xem bài viết</h5>
                  </div>
                </div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </li>
  </ul>
</div>
