<nav class="navbar" [class.transparent]="isTransparent">
  <div *ngIf="!clickSearch" class="container d-flex justify-content-between align-items-center" >
    <a class="nav-link" style="padding: 0;margin:0;" routerLink="home" routerLinkActive="active">

      <img width="60px"  src="https://github.com/NgDuyKhanhs/image/blob/main/Remove-bg.ai_1726026879198.png?raw=true"/>
    </a>

    <ul class="navbar-nav d-flex justify-content-center" *ngIf="!isMobile && this.currentRole != 'ROLE_SHIPPER' && this.currentRole != 'ROLE_ADMIN'">
      <li class="nav-item decor-text">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Trang chủ</a>
      </li>
      <li class="nav-item d-flex align-items-center decor-text">
        <a class="nav-link" routerLink="post" routerLinkActive="active">Bài đăng</a>
<!--        <i class="bi bi-caret-down-fill"></i>-->
      </li>
      <li class="nav-item decor-text">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Hỗ trợ</a>
      </li>
      <li class="nav-item decor-text">
        <a class="nav-link" routerLink="order" routerLinkActive="active">Đơn hàng</a>
      </li>
    </ul>
    <ul class="navbar-nav d-flex flex-row justify-content-end align-items-center" *ngIf="!isMobile">
      <li class="nav-item" style="position: relative">
        <i (click)="toggleNotifications()" class="bi bi-bell decor-text" style="cursor: pointer;margin-right: 10px"></i>
        <div class="dx decor-text-1" *ngIf="showNotifications">
          <p style="text-align: center;padding: 5px 0">Thông báo</p>
          <hr class="faded-line">
          <ul class="navbar-nav d-flex flex-column">
            <li class="nav-item decor-text-1" style="text-align: left;padding-left: 10px" *ngFor="let noti of notifications.items">
              <p [innerHTML]="noti.content" >
              </p>
              <hr class="faded-line">
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item decor-text" *ngIf="userService.authenticated()">
        <a class="nav-link" routerLink="message" routerLinkActive="active">
          <i class="bi bi-chat-text" style="cursor: pointer;font-size: 20px;margin-right: 5px"></i>
        </a>
      </li>
      <li class="nav-item">
        <i (click)="openInputSearch()" class="bi bi-search decor-text" style="cursor: pointer;margin-right: 5px"></i>
      </li>
      <li *ngIf="!userService.authenticated()" class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active">Đăng nhập</a>
      </li>
      <li class="nav-item decor-text" *ngIf="userService.authenticated()">
        <a class="nav-link" (click)="navigateProfile()">
          <i class="bi bi-person" style="font-size: 20px;"></i>
        </a>
      </li>
    </ul>
    <!-- Mobile view -->
    <ul class="navbar-nav" *ngIf="isMobile">
      <li class="nav-item">
        <i (click)="openInputSearch()" class="bi bi-search decor-text" style="cursor: pointer;margin-right: 5px"></i>
      </li>
      <li class="nav-item">
        <button (click)="openMobileMenu()" class="btn">
          <i class="bi bi-list"></i>
        </button>
      </li>
    </ul>

    <!-- Example mobile menu content -->
    <div *ngIf="isMobile && showMobileMenu" class="mobile-menu">
      <ul>
        <li class="nav-item decor-text" *ngIf="userService.authenticated()">
          <a class="nav-link" (click)="navigateProfile()">
            Trang cá nhân
          </a>
        </li>
        <hr class="faded-line">
        <li class="nav-item">
          <a class="nav-link" routerLink="post" routerLinkActive="active">Bài đăng</a>
          <!--        <i class="bi bi-caret-down-fill"></i>-->
        </li>
        <hr class="faded-line">
        <li class="nav-item decor-text" *ngIf="userService.authenticated()">
          <a class="nav-link" routerLink="message" routerLinkActive="active">
            Tin nhắn
          </a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="home" routerLinkActive="active">Hỗ trợ</a>-->
<!--        </li>-->
        <hr class="faded-line">
        <li class="nav-item">
          <a class="nav-link" routerLink="order" routerLinkActive="active">Đơn hàng</a>
        </li>
        <hr class="faded-line">
        <li class="nav-item">
          <a class="nav-link" >Thông báo</a>
        </li>
        <li *ngIf="!userService.authenticated()" class="nav-item">
          <hr class="faded-line">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Đăng nhập</a>
        </li>

      </ul>
    </div>
  </div>

</nav>
<nav *ngIf="clickSearch" class="navbar1">
  <ng-container >
    <form (ngSubmit)="sendResultSearch(this.key)">
      <input [(ngModel)]="this.key"  placeholder="Bạn muốn tìm gì?" type="text" name="key" class="input" style="width: 75%; height: 100%">
      <button  type="submit" style="border: none; background: transparent"><i class="bi bi-search mx-3 mt-1"></i></button>
      <i (click)="closeInputSearch()" class="bi bi-x-lg position-absolute" style="right: 10%"></i>
    </form>
  </ng-container>
</nav>

<router-outlet></router-outlet>
